<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856379208917-k2jclhhn8pnqo2bebvg9sd4l2elf1m1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856379208917-k2jclhhn8pnqo2bebvg9sd4l2elf1m1p</string>
	<key>API_KEY</key>
	<string>AIzaSyCvhFMB2mxy4C5oQSxGD_SseaZNmzfNWCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>856379208917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Stakaki.LoginWithFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>loginwithfirebaseapp-29399</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithfirebaseapp-29399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856379208917:ios:35dc638db78c1c26f85e5c</string>
</dict>
</plist>